$logoSize: 40px;
$headerContentSideMargin: 50px;

.header {
  display: grid;
  height: $headerHeight;
  margin-bottom: $headerContentSideMargin;
  grid-template-columns: $logoSize+$headerContentSideMargin 1fr auto;
  align-items: center;
  &__logo {
    grid-column: 1 / 2;
    margin-left: $headerContentSideMargin;
    @include squareForm($logoSize);
  }
  
  &__navigation {
    grid-column: 3 / -1;
    margin-right: $headerContentSideMargin;
  }
}
