$navigationLineHeight: 14px;

.navigation {
  display: inline-flex;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  
  &__list {
    display: flex;
    align-items: center;
  }
  
  &__item {
    display: flex;
    list-style-type: none;
    margin: auto 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__links {
    text-decoration: none;
    color: black;
    padding: auto 0;
    
    &:hover {
      color: $brandColor;
    }
  }

  .is-active {
    color: $brandColor;
  }
  
  .is-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 4px;
    border-radius: 8px;
    background-color: $brandColor;
  }
}
